<!DOCTYPE html>
<html>
<head>
    <title>Carregar Modelo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Carregar Modelo de Machine Learning</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="modelFile" name="modelFile"><br>

        <button type="submit">Carregar Modelo</button>
    </form>
    <div id="uploadResult"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
